body {
	background: $light;
}

div.headline {
	background: $accent;
}

div.carousel {
	background: url(img/festival-placeholder.jpg);
	background-size: cover;
	position: relative;
	.container {
		position: relative;
		z-index: 20;
	}
}