//footer styles go here

footer#page {
	text-align: center;
	background: $dark;
	padding: 10px;
	width: 100%;
	span.copy {
		color: $light
	}
	span.theme-by {
		color: $grey;
	}
	i {
		color: $grey;
		margin: 10px;
		&:hover {
			color: $accent;
		}
	}
}