//footer styles go here

footer#page {
	text-align: center;
	background: $dark;
	padding: 10px;
	width: 100%;
	span.copy {
		color: $light
	}
	span.theme-by {
		color: $grey;
	}

	p {
		@include font-size(12px);
	}

	i {
		color: $grey;
		margin-left: 5px;
		margin-right: 5px;
		&:hover {
			color: $accent;
		}
	}
}