
img {
  max-width:100%;
}

// // Global Classes / Wordpress Specific 
.aligncenter    { text-align: center; margin: 0 auto; }
.alignleft      { float: left; }
.alignright     { float: right; }
img.alignleft     { padding-right: 5px;}
img.alignright    { padding-left: 5px; }
.clear        { width:100%; float:left; clear:both;}

.container {
  max-width: 1000px;
  margin:0 auto;
}

.content {
  float:left;
  @include column(8);
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 0;
  @include bp(medium) {
    @include column(12);
  }
}

article.post-excerpt {
  @include clearfix();
  border-bottom: 4px double $grey;
  img {
    float: left;
    margin-right: 15px;
  }
}

article.post-excerpt:last-of-type {
  border-bottom: 0;
}

.full {
  width:100%;
}

// ======================================================
   //                 Sidebar
// ======================================================
.sidebar {
  @include column(4);
  @include bp(medium) {
    display: none;
  }
}

ul.xoxo {
  margin:0;
  margin-top: 30px;
  padding:0;
  li {
    list-style: none;
  }
  &>li {
    margin-bottom: 30px;  
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

h3.widget-title {
  margin-top: 0;
  text-transform: uppercase;
  @include font-size(20px);
}

//carousel section:

div.carousel {
  padding-top: 50px;
  .container {
    padding-bottom: 50px
  }
}

img.logo {
  @include column(6);
  @include push(3);
  @include bp(medium) {
    @include column(10);
    @include push(1);
  }
  @include bp(small) {
    @include column(12);
    @include push(0);
  }
}

img.headline-image {
  margin-top: 20px;
}

// ======================================================
   //                 Info section on main page
// ======================================================

div.headline {
  padding-top: 30px;
  padding-bottom: 60px;
  @include clearfix();
  img.sash {
    @include column(10);
    @include push(1);
    @include bp(small) {
      @include push(0);
      @include column(12); 
    }
  }
  p.info {
    @include column(6);
    @include push(3);
    padding-top: 50px;
    text-align: center;
    @include bp(medium) {
      @include column(10);      
      @include push(1);
    }
    @include bp(small) {
      @include column(12);
      @include push(0);
    }
  }
}

p.nav-previous {
  width: 50%;
  float: left;
  text-align: left;
}
p.nav-next {
  width: 50%;
  float: right;
  text-align: right;
}


// =====================================================
//                    Default Styling
// =====================================================

//blockquotes
blockquote {
  background: $light;
  margin:0;
  padding:20px;
}
  blockquote p {
    margin-top: 0;
  }

//tables
table td {
  padding:10px;
}
table tr td:first {
  padding-right: 0;
}

//def lists
dt {
  font-weight: 600;
  padding-bottom: 5px;
}
dd {
  padding:10px;
  margin-left: 10px;
}

//lists
ul li,ol li {
  padding:3px;
}

//PRE

pre {
  background: $grey;
  padding:10px;
  border-radius: 4px;
  border:1px solid #ccc;
}

footer {
  clear:both;
}

// ======================================================
   //                 Footer
// ======================================================

.social-media {
  @include column(4);
  margin: 5px 0;
  text-align: left;
}

.info {
  @include column(8);
  text-align: right;
}