
img {
  max-width:100%;
}

// // Global Classes / Wordpress Specific 
.aligncenter    { text-align: center; margin: 0 auto; }
.alignleft      { float: left; }
.alignright     { float: right; }
img.alignleft     { padding-right: 5px;}
img.alignright    { padding-left: 5px; }
.clear        { width:100%; float:left; clear:both;}

.container {
  max-width: 1000px;
  margin:0 auto;
}

.content {
  float:left;
  @include column(8);
}

.full {
  width:100%;
}

// ======================================================
   //                 Sidebar
// ======================================================
.sidebar {
  @include column(4);
  ul {
    margin:0;
    padding:0;
    li {
      list-style: none;
    }
  }
}

//carousel section:

div.carousel {
  height: 90vh;
  padding-top: 100px;
}

// ======================================================
   //                 Info section on main page
// ======================================================

div.headline {
  padding-top: 30px;
  padding-bottom: 60px;
  @include clearfix();
  img.icon {
    @include column(4);
    @include push(2);
  }
  p.info {
    @include column(4);
  }
}


// =====================================================
//                    Default Styling
// =====================================================

//blockquotes
blockquote {
  background: $light;
  margin:0;
  padding:20px;
}
  blockquote p {
    margin-top: 0;
  }

//tables
table td {
  padding:10px;
}
table tr td:first {
  padding-right: 0;
}

//def lists
dt {
  font-weight: 600;
  padding-bottom: 5px;
}
dd {
  padding:10px;
  margin-left: 10px;
}

//lists
ul li,ol li {
  padding:3px;
}

//PRE

pre {
  background: $grey;
  padding:10px;
  border-radius: 4px;
  border:1px solid #ccc;
}

footer {
  clear:both;
}

// ======================================================
   //                 Footer
// ======================================================

.social-media {
  @include column(4);
  margin: 5px 0;
  text-align: left;
}

.info {
  @include column(8);
  text-align: right;
}