%input {
	background: #fff;
	border: none;
	border-radius: 5px;
	font-family: $main-font;
	outline-color: $accent;
	padding: 10px;
}

%submitbutton {
	border: none;
	background: $accent;
	color: $dark;
	font-family: $accent-font;
	text-transform: uppercase;
	border-radius: 5px;
}

textarea {
	@extend %input;
	width: 75%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	@extend %input;
	// display: inline-block;
	@include bp(large) {
		width: 60%;
	}
}

form.wpcf7-form input[type="submit"] {
	@extend %submitbutton;
	padding: 15px;
	@include font-size(20px);
}

form.wpcf7-form span {
	// display: inline-block;
}

input#s {
	@extend %input;
	padding-left: 0px;
	padding-right: 0px;
	width: 70%;
	@include bp(large) {
		width: 60%;
	}
}

input.searchsubmit {
	@extend %submitbutton;
	padding: 10px;
	width: 25%;
	@include bp(large) {
		width: 35%;	
	}
}