body {
	font-family: $main-font;
  color: $dark;
}

h1 {
	font-family: $display-font;
	text-transform: uppercase;
	letter-spacing: -1px;
}

// h1 - logo
h1.logo {
	@include font-size(50px);
	letter-spacing: 10px;
	text-shadow: 3px 2px white;
	text-align: center;
}

// h2
h2.tagline {
	font-family: $accent-font;
	text-transform: uppercase;
	@include font-size(38px);
	letter-spacing: -2px;
	color: $accent;
	text-shadow: 2px 2px 0px #000;
	text-align: center;
}

// h2 - sub-heading
h2 {
	font-family: $accent-font;
	@include font-size(32px);
	color: $grey;	
}

// h3
h3 {
	font-family: $main-font;
	@include font-size(28px);
}

// h4
h4 {
	font-family: $main-font;
	@include font-size(24px);
}

// h5
h5 {
	font-family: $main-font;
	@include font-size(18px);
}

// h6
h6 {
	font-family: $main-font;
	@include font-size(16px);
}

// links
a {
	color: $accent;
	text-decoration: none;
		&:hover {
		color: lighten($accent, 10);
	}
}


// paragraphs
p {
	font-family: $paragraph;
	line-height: 1.5;
}

p.entry-date {
	@include font-size(14px);
	color: $grey;
	span {
		color: darken($grey, 20);
	}
}

div.headline {
	color: $light;
	h2 {
		color: $dark;
		font-family: $display-font;
		text-align: center;
		text-transform: uppercase;
	}
	p.info {
		font-family: $accent-font;
		@include font-size(20px);
	}
	span {
		color: $dark;
	}
}

h2.news {
	text-align: center;
	text-transform: uppercase;
	color: $dark;
	font-family: $display-font;
	letter-spacing: -1px
}