article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

img {
  max-width: 100%;
}

.aligncenter {
  text-align: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  padding-right: 5px;
}

img.alignright {
  padding-left: 5px;
}

.clear {
  width: 100%;
  float: left;
  clear: both;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  float: left;
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
  padding-bottom: 50px;
}

article.post-excerpt {
  *zoom: 1;
  border-bottom: 4px double #95a5a6;
}
article.post-excerpt:before, article.post-excerpt:after {
  content: "";
  display: table;
}
article.post-excerpt:after {
  clear: both;
}
article.post-excerpt img {
  float: left;
  margin-right: 15px;
}

article.post-excerpt:last-of-type {
  border-bottom: 0;
}

.full {
  width: 100%;
}

.sidebar {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

ul.xoxo {
  margin: 0;
  margin-top: 30px;
  padding: 0;
}
ul.xoxo li {
  list-style: none;
}
ul.xoxo > li {
  margin-bottom: 30px;
}
ul.xoxo ul {
  margin: 0;
  padding: 0;
}

h3.widget-title {
  margin-top: 0;
}

div.carousel {
  padding-top: 50px;
}
div.carousel .container {
  padding-bottom: 50px;
}

img.logo {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
  margin-left: 26.04167%;
}

div.headline {
  padding-top: 30px;
  padding-bottom: 60px;
  *zoom: 1;
}
div.headline:before, div.headline:after {
  content: "";
  display: table;
}
div.headline:after {
  clear: both;
}
div.headline img.sash {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
}
div.headline p.info {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
  margin-left: 26.04167%;
  padding-top: 50px;
  text-align: center;
}

p.nav-previous {
  width: 50%;
  float: left;
  text-align: left;
}

p.nav-next {
  width: 50%;
  float: right;
  text-align: right;
}

blockquote {
  background: #ecf0f1;
  margin: 0;
  padding: 20px;
}

blockquote p {
  margin-top: 0;
}

table td {
  padding: 10px;
}

table tr td:first {
  padding-right: 0;
}

dt {
  font-weight: 600;
  padding-bottom: 5px;
}

dd {
  padding: 10px;
  margin-left: 10px;
}

ul li, ol li {
  padding: 3px;
}

pre {
  background: #95a5a6;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

footer {
  clear: both;
}

.social-media {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
  margin: 5px 0;
  text-align: left;
}

.info {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
  text-align: right;
}

body {
  font-family: "roboto", sans-serif;
  color: #2c3e50;
}

h1 {
  font-family: "arvo", serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h1.logo {
  font-size: 50px;
  font-size: 3.125rem;
  letter-spacing: 10px;
  text-shadow: 3px 2px white;
  text-align: center;
}

h2.tagline {
  font-family: "roboto condensed", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  font-size: 2.375rem;
  letter-spacing: -2px;
  color: #27ae60;
  text-shadow: 2px 2px 0px #000;
  text-align: center;
}

h2 {
  font-family: "roboto condensed", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  color: #95a5a6;
}

h3 {
  font-family: "roboto", sans-serif;
  font-size: 28px;
  font-size: 1.75rem;
}

h4 {
  font-family: "roboto", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
}

h5 {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
}

h6 {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

a {
  color: #27ae60;
  text-decoration: none;
}
a:hover {
  color: #36d278;
}

p {
  font-family: "Varela Round", sans-serif;
  line-height: 1.5;
}

p.entry-date {
  font-size: 14px;
  font-size: 0.875rem;
  color: #95a5a6;
}
p.entry-date span {
  color: #617374;
}

div.headline {
  color: #ecf0f1;
}
div.headline h2 {
  color: #2c3e50;
  font-family: "arvo", serif;
  text-align: center;
  text-transform: uppercase;
}
div.headline p.info {
  font-family: "roboto condensed", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
}
div.headline span {
  color: #2c3e50;
}

h2.news {
  text-align: center;
  text-transform: uppercase;
  color: #2c3e50;
  font-family: "arvo", serif;
  margin-bottom: 0;
}

h2.page-title {
  font-family: "arvo", serif;
  text-transform: uppercase;
  color: #95a5a6;
}

span.continue-reading {
  color: #2c3e50;
  text-transform: uppercase;
  font-family: "roboto condensed", sans-serif;
  font-weight: 700;
}

body {
  background: #ecf0f1;
}

div.headline {
  background: #27ae60;
}

div.carousel {
  background: url(img/festival-placeholder.jpg);
  background-size: cover;
  position: relative;
}
div.carousel .container {
  position: relative;
  z-index: 20;
}

button {
  background: transparent;
  border: 3px solid #27ae60;
  color: #27ae60;
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: "roboto condensed", sans-serif;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
}
button:hover {
  background: #27ae60;
  color: #ecf0f1;
}

button[type=submit] {
  font-size: 42px;
  font-size: 2.625rem;
  padding-left: 50px;
  padding-right: 50px;
}

button.button-error {
  border: 3px solid #2c3e50;
  color: #2c3e50;
}
button.button-error:hover {
  background: #2c3e50;
  color: #ecf0f1;
}

select {
  background: #95a5a6;
  color: #ecf0f1;
  font-family: "roboto condensed", sans-serif;
  text-transform: uppercase;
  width: 20%;
  margin: 1%;
  font-size: 18px;
  font-size: 1.125rem;
}

input[type=radio] {
  background: purple;
}

textarea {
  background: #fff;
  border: none;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  outline-color: #27ae60;
  margin: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background: #fff;
  border: none;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
  outline-color: #27ae60;
  margin: 5px;
  padding: 5px;
}

#comments .navigation {
  padding: 0 0 18px;
}

h3#comments-title, h3#reply-title {
  color: #2c3e50;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

h3#comments-title {
  padding: 24px 0;
}

.commentlist li.comment {
  border-bottom: 1px solid #ecf0f1;
  line-height: 24px;
  position: relative;
  clear: both;
  margin: 0 0 24px;
  padding: 0 0 0 56px;
}

.commentlist li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#comments .comment-body ul, #comments .comment-body ol {
  margin-bottom: 18px;
}

#comments .comment-body p:last-child {
  margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
  margin-bottom: 24px;
}

.commentlist ol {
  list-style: decimal;
}

.commentlist .avatar {
  position: absolute;
  top: 4px;
  left: 0;
}

.comment-author cite {
  color: #2c3e50;
  font-style: normal;
  font-weight: 700;
}

.comment-author .says {
  font-style: italic;
}

.comment-meta {
  font-size: 12px;
  margin: 0 0 5px;
}

.comment-meta a:link, .comment-meta a:visited {
  color: #2c3e50;
  text-decoration: none;
}

.reply {
  font-size: 12px;
  padding: 0 0 24px;
}

.reply a, a.comment-edit-link {
  color: #95a5a6;
}

.commentlist .children li {
  border: none;
  margin: 0;
}

#comments .pingback {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ecf0f1;
}

.commentlist li.comment + li.pingback {
  margin-top: -6px;
}

#comments .pingback p {
  color: #95a5a6;
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin: 0;
}

#comments .pingback .url {
  font-style: italic;
  font-size: 13px;
}

input[type=submit] {
  color: #2c3e50;
}

#respond {
  margin-top: 24px;
  border-top: 1px solid #ecf0f1;
  overflow: hidden;
  position: relative;
}

#respond .comment-notes {
  margin-bottom: 1em;
}

.form-allowed-tags {
  line-height: 1em;
}

.children #respond {
  margin: 0 48px 0 0;
}

h3#reply-title {
  margin: 18px 0;
}

#comments-list #respond {
  margin: 0 0 18px;
}

#cancel-comment-reply-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#respond .required {
  color: #ff4b33;
  font-weight: 700;
}

#respond label {
  color: #95a5a6;
  font-size: 12px;
}

#respond input {
  width: 98%;
  margin: 0 0 9px;
}

#respond textarea {
  width: 98%;
}

#respond dt, #respond dd {
  color: #95a5a6;
  font-size: 12px;
  line-height: 18px;
}

#respond dd code {
  font-size: 11px;
}

#respond .form-submit {
  margin: 0 0 24px;
}

#respond .form-submit input {
  width: auto;
  font-size: 14px;
}

#respond dl {
  margin: 0 0 10px;
}

#respond dt {
  display: inline;
  font-weight: 400;
}

#respond dd {
  display: inline;
}

p.form-allowed-tags, .nocomments {
  display: none;
}

.commentlist, .commentlist .children {
  list-style: none;
  margin: 0;
}

.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover {
  color: #ff4b33;
}

#respond p, #comments-list ul #respond {
  margin: 0;
}

header {
  width: 100%;
  background: #2c3e50;
}

header h1 {
  width: 30%;
  float: left;
  margin: 0;
  line-height: 60px;
  font-size: 40px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 0px #000;
}

nav.menu {
  float: right;
  width: 60%;
  text-align: right;
}

nav.menu ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
nav.menu ul li {
  display: inline-block;
  padding: 0;
}
nav.menu ul li i {
  color: #27ae60;
  padding-right: 3px;
}
nav.menu ul li a {
  color: #95a5a6;
  font-family: "roboto condensed", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 22px;
  font-size: 1.375rem;
  text-shadow: 1px 1px 0px #000;
  padding: 15px 10px;
}
nav.menu ul li a:hover {
  background: #3e5771;
}
nav.menu ul li a:hover i {
  color: #36d278;
}

footer#page {
  text-align: center;
  background: #2c3e50;
  padding: 10px;
  width: 100%;
}
footer#page span.copy {
  color: #ecf0f1;
}
footer#page span.theme-by {
  color: #95a5a6;
}
footer#page p {
  font-size: 12px;
  font-size: 0.75rem;
}
footer#page i {
  color: #95a5a6;
  margin-left: 5px;
  margin-right: 5px;
}
footer#page i:hover {
  color: #27ae60;
}

@media all and (max-width: 560px) {
  footer > .container > .social-media {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    text-align: center;
  }

  footer > .container > .info {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
